NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://campusnestonline_db_user:qk668b7tJwZiE5B6@cluster0.zhg9zel.mongodb.net/
JWT_SECRET=1234567898732112345678901234567890
JWT_EXPIRES_IN=8h
CLIENT_URL=http://localhost:5173,http://localhost:5174
ADMIN_SIGNUP_CODE=choose_a_private_admin_setup_code
